#group
    background-color: #e3b7e5
    min-height: 100vh
    .box
        h1
            font-size: 90px
            font-weight: 700
            margin: 120px 0 80px 20px
            color: #8d25a7
        input
            width: 325px
            height: 66px
            margin: 15px 0 50px 0
            font-size: 20px
            border-radius: 20px
            border: 5px solid #ffff
        .btn
            background-color: #ffffff
            border: 2px solid #b035c1
            width: 85px
            font-size: 20px
            padding: 9px
            margin: 5px 3px 62px 110px
            &:hover
                background-color: #ebe187
                cursor: pointer
        .minibox
            width: 245px
            margin: 28px 35px
            background-color: #ffffff
            h3
                font-size: 35px 
                padding: 6px 0 5px 13px
                border: 0 solid #7c38d4