#group
    background-color: #c2cfff
    min-height: 100vh
    .box
        h1
            font-size: 60px
            font-weight: 700
            margin: 120px 22px 37px 10px
        input
            width: 300px
            height: 47px
            margin: 22px 0
            border: 3px solid #0d13c7
        .btn
            background-color: #ffffff
            border: 2px solid #000000
            widows: 80px
            &:hover
                background-color: #9a88c5
                cursor: pointer
        .minibox
            width: 245px
            margin-top: 50px
            background-color: #ffffff
            h1
                font-size: 30px 
                margin: 0 
                border: 2px solid #000000
