#group
    background-color: #e1d2e1
    min-height: 100vh
    .box
        h1
            font-size: 90px
            font-weight: 700
            margin: 120px 0 80px 20px
            color: #072b81
        input
            width: 325px
            height: 66px
            margin: 7px 0 50px 0
            font-size: 20px
            border-radius: 10px
            border: 5px solid #ffff
        .btn
            background-color: #ffffff
            border: 2px solid #072b81
            width: 85px
            font-size: 20px
            padding: 9px
            border-radius: 10px
            &:hover
                background-color: #e1d2e1
                cursor: pointer
        .minibox
            width: 245px
            margin: 50px 35px
            background-color: #ffffff
            h3
                font-size: 35px 
                padding: 6px 0 5px 13px
                border: 0 solid #7c38d4